<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Todo List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body class="flex flex-col min-h-svh">
    <div class="grid grid-cols-6 flex-grow">
      <div class="col-start-3 col-span-2">
        <%-include('header.ejs') %>
        <p class="py-2">Welcome to your To-Do Manager</p>
        <p class="py-2">
          New here? Sign-up
          <a href="/signup" class="text-green-600 underline">here</a>
        </p>
        <p class="py-2">
          Already have an account?
          <a href="/login" class="text-green-600 underline">Sign-in</a>
        </p>
      </div>
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>
